@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=DM+Serif+Display&family=Dancing+Script:wght@700&family=Edu+TAS+Beginner:wght@600&family=Fira+Sans:ital,wght@0,700;1,300&family=Inter:wght@800;900&family=League+Spartan:wght@400;600;800&family=Limelight&family=Lora:wght@400;700&family=Manrope:wght@500&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:wght@300;400;800&family=Poppins:ital,wght@1,100&family=Quicksand:wght@300;600;700&family=REM:ital,wght@0,800;0,900;1,900&family=Roboto+Mono&family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,700;1,900&family=Rubik:wght@900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'League Spartan', sans-serif;
}

:root{
    --Yellow: #C79C46;
    --Black: black;
    --White: white;
}

body{
    width: 100%;
    height: 300vh;
    background-color: var(--Black);
    color: var(--White);
    overflow-x: hidden;
}

body a{
    position: relative;
    z-index: 11;
    transition: all .3s;
}

body p{
    font-size: 19px;
}

body a:hover{
    opacity: .8;
}

body::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color:#c79c4699;
    border-radius: 50px;
}

/* section loading */

.sec__loading{
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: sec__loadin 4s;
}

@keyframes sec__loadin {
    0%{
        top: 0%;
    }
    80%{
        top: 0%;
    }
    100%{
        top: -100%;
    }
    
}
.sec__loading::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 0%;
    left: 0%;
    background-color: var(--Yellow);
    animation: sec__loding__before 3s;
}

@keyframes sec__loding__before {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }    
}

.sec__loading__rotate{
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec__loading__rotate svg:nth-child(1){
    position: relative;
    width: 30%;
    z-index: 300;
}

.sec__loading__rotate svg:nth-child(1) path{
    fill: white;
}

.sec__loading__rotate svg:nth-child(2){
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: puntero__circle 5s infinite linear;
}

.sec__loading__rotate svg:nth-child(2) g:nth-child(2) path{
    fill: var(--Yellow);
}



/* section bg animacion top */

.sec__bg__anm__top{
    position: absolute;
    width: 100%;
    height: 80vh;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.324), rgba(0, 0, 0, 0.752), rgb(0, 0, 0)), url(../img/bg__anm.png);
    background-size: cover;
    background-position-y: 100%;
    animation: sec__bg__anm 30s infinite linear;
    box-shadow: inset 0px -20px 30px black;
}

@keyframes sec__bg__anm {
    0%{
        background-position-y: 100%;
    }
    100%{
        background-position-y: 0%;
    }
}

@media screen and (max-width: 900px){
    .sec__bg__anm__top{
        height: 60vh;
    }
}

.puntero{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: url(../img/icon-africa-puntero.svg);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    transition: all .1s;
    transform: scale(0);
    z-index: 10;
}

.puntero::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url(../img/icon-circle-puntero.svg);
    background-position: center;
    background-size: cover;
    animation: puntero__circle 10s infinite linear;
}

@keyframes puntero__circle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }   
}

@media screen and (max-width: 900px){
    .puntero{
        display: none;
        transform: scale(0);
    }
    
}

/* section menu */

.sec__mn{
    position: fixed;
    width: 40%;
    height: 100vh;
    background-color: black;
    right: -40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 21;
    overflow: hidden;
    transition: all .6s ease-in-out;
}

.sec__mn__bg__anm{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: blue;
    background-image: url(../img/bg_mn__overlay.png);
    background-position: center;
    background-size: cover;
    transition: all .7s ease-in-out;
    transition-delay: .5s;
    z-index: 30;
}

.sec__mn__header{
    position: absolute;
    top: 0%;
    padding: 30px 10px;
}

.sec__mn__header img{
    cursor: pointer;
}

.sec__mn nav ul li a{
    padding: 30px 10px;
    display: block;
    font-size: 2rem;
    color: white;
    border-bottom: 1px solid white;
}

.sec__mn nav ul li:nth-child(1) a{
    border-top: 1px solid white;
}

.sec__mn nav ul li a:hover{
    opacity: 1;
    color: var(--Yellow);
}

@media screen and (max-width: 750px){
    .sec__mn{
        transition: all .3s ease-in-out;
    }
    .sec__mn__bg__anm{
        transition: all .4s;
        transition-delay: .3s;
    }
    .sec__mn nav ul li a{
        font-size: 1rem;
    }
    
}

/* header */

header{
    position: relative;
    top: 0%;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__lg img{
    width: 100px;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul li a{
    text-transform: uppercase;
    color: var(--Yellow);
    font-weight: 600;
    padding: 20px 40px;
    z-index: 20;
}

header nav ul li img{
    cursor: pointer;
    position: relative;
    z-index: 20;
    transition: all .3s;
}

header nav ul li img:hover{
    opacity: .8;
}

@media screen and (max-width: 1300px){
    header{
        padding: 30px 20px;
    }
    .header__lg img{
        width: 100px;
    }
    
}

/* section max-width */

.sec__max__width{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (max-width: 1300px){
    .sec__max__width{
        overflow: hidden;
    }
    
}

/* section banner */

.sec__banner{
    position: relative;
    width: 100%;
    color: var(--Yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}



.sec__banner__img{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec__banner__img img{
    width: 90%;
    
}

.sec__banner__tt{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sec__banner__tt h1{
    font-size: 4rem;
    margin-bottom: 30px;
    line-height: 80px;
}

.sec__banner__tt a{
    text-transform: uppercase;
    position: relative;
    z-index: 20;
    font-size: 21px;
    width: 120px;
    height: 120px;
    background: var(--Yellow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Black);
    transition: all .3s;
    font-weight: 600;
}

.sec__banner__tt a:hover{
    opacity: .8;
    transform: scale(.9);
}

@media screen and (max-width: 1200px){
    .sec__banner__tt h1{
        font-size: 2.5rem;
        line-height: 48px;
        max-width: 400px;

    }
}

@media screen and (max-width: 700px){
    .sec__banner{
        flex-direction: column-reverse;
    }
    .sec__banner__tt{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .sec__banner__tt h1{
        max-width: 100%;
    }
    .sec__banner__tt a{
        transform: scale(.8);
    }
    .sec__banner__img{
        width: 100%;
        justify-content: center;
    }
    .sec__banner__img img{
        width: 80%;
    }
}

/* section video */

.sec__video{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top:8%;
    overflow: hidden;
}

.sec__video video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px){
    .sec__video{
        height: 60vh;
    }
}

@media screen and (max-width: 500px){
    .sec__video{
        height: 45vh;
    }
}
/* section 2 */

.sec__2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8%;
}

.sec__2__header{
    width: 100%;
    flex-basis: 100%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px dashed white;
    margin-bottom: 8%;
}

.sec__2__header__circle{
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--Yellow);
    transform: translateY(10px);
    z-index: 20;
    display: flex;
    justify-content: center;
    transition: all .3s;
    border: 2px solid var(--Yellow);
}

.circleActive{
    border: 2px solid white;
    box-shadow: 0px 0px 20px white;
}


.sec__2__header__circle::before{
    position: absolute;
    content: "1";
    top: -200%;
}

.sec__2__header__circle:nth-child(2):before{
    content: "2";
}

.sec__2__header__circle:nth-child(3):before{
    content: "3";
}

.sec__2__header__circle:nth-child(4):before{
    content: "4";
}

.sec__2__header__circle:nth-child(5):before{
    content: "5";
}

.sec__2__header__circle:nth-child(6):before{
    content: "6";
}

.sec__2__header__circle:nth-child(7):before{
    content: "7";
}

.sec__2__header__circle:nth-child(8):before{
    content: "8";
}

.sec__2__header__circle:nth-child(9):before{
    content: "9";
}

.sec__2__header__circle:nth-child(10):before{
    content: "10";
}

.sec__2__header__circle:nth-child(11):before{
    content: "11";
}

.sec__2__header__circle:nth-child(12):before{
    content: "12";
}

.sec__2__slider__tt{
    width: 28%;
    overflow: hidden;
}

.sec__2__slider__tt ul{
    width: 1200%;
    height: 100%;
    display: flex;
    transition: all .8s;
}

.sec__2__slider__tt ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.sec__2__slider__tt h1:nth-child(1){
    text-transform: uppercase;
    color: var(--Yellow);
    font-size: 2rem;
}

.sec__2__slider__tt__bottom img{
    width: 70px;
    margin-bottom: 5px;
}

.sec__2__slider__tt__bottom h1{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sec__2__slider__img{
    position: relative;
    width: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec__2__slider__img::before{
    position: absolute;
    content: "";
    width: 350px;
    height: 350px;
    filter: blur(40px);
    background-color: var(--Yellow);
    border-radius: 50%;

}

.sec__2__slider__img img:nth-child(1){
    z-index: 5;
    width: 30%;
}

.sec__2__slider__absolut{
    position: absolute;
    width: 90%;
    transform: scale(0);
    transition: all .8s;
}


.sec__2__slider__absolut.imgActive{
    transform: scale(1);
}

.sec__2__slider__absolut.imgRemove{
    transform: scale(0);
}


.sec__2__slider__rigth{
    width: 28%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec__2__slider__rigth p{
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--Yellow);
    font-size: 21px;
    font-weight: bold;
    opacity: .4;
    z-index: 20;
}

.sec__2__slider__rigth p.pActive{
    opacity: 1;
}

.sec__2__slider__rigth p:hover{
    opacity: 1;
}

@media screen and (max-width: 900px){
    .sec__2__header{
        display: none;
    }
    .sec__2{
        flex-direction: column-reverse;
    }
    .sec__2__slider__rigth{
        width: 100%;
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .sec__2__slider__rigth p{
        opacity: 1;
        background: rgba(255, 170, 0, 0.141);
        border: 1px solid rgba(255, 255, 255, 0.145);
        padding: 5px 20px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 31%;
    }
    .sec__2__slider__img{
        width: 100%;
        margin-top: 8%;
    }
    .sec__2__slider__img img:nth-child(1){
        width: 20%;
    }
    .sec__2__slider__img img{
        width: 50%;
    }
    .sec__2__slider__tt{
        width: 100%;
        margin-top: 8%;
    }
    .sec__2__slider__tt h1:nth-child(1){
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 700px){
    .sec__2__slider__rigth{
        gap: 8px;
    }
    .sec__2__slider__rigth p{
        font-size: 13px;
        padding: 5px 10px;
        width: 31%;
    }
    .sec__2__slider__img img:nth-child(1){
        width: 26%;
    }
    .sec__2__slider__img img{
        width: 85%;
    }
    .sec__2__slider__img::before{
        width: 60vw;
        height: 60vw;
    }
}

@media screen and (max-width: 500px){
    .sec__2__slider__tt{
        text-align: center;
    }
    .sec__2__slider__tt h1:nth-child(1){
        display: none;
    }
}

/* section slider horizontal texto */

.sec__slider__horizontal{
    margin-top: 6%;
    width: 100%;
    overflow: hidden;
}

.sec__slider__horizontal__tt{
    width: auto;
    text-align: center;
    text-wrap: nowrap;
    animation: slider__horizontal__tt 10s infinite linear alternate;
}

@keyframes slider__horizontal__tt {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
    
}

.sec__slider__horizontal__tt h1{
    text-transform: uppercase;
    font-size: 7rem;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

@media screen and (max-width: 900px){
    .sec__slider__horizontal__tt h1{
        font-size: 5rem;
    }
}

@media screen and (max-width: 600px){
    .sec__slider__horizontal__tt h1{
        font-size: 3rem;
    }
}

/* section 3 slider manual */

.sec__3{
    position: relative;
    width: 100%;
    margin-top: 5%;
}

.sec__3__slider{
    width: 100%;
    overflow: hidden;
}

.sec__3__slider ul{
    width: 400%;
    display: flex;
    transition: all .5s;
}

.sec__3__slider ul li{
    width: 100%;
   
}

.sec__3__slider__card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.sec__3__slider__card img{
    width: 28%;
}

.sec__3__slider__card__tt{
    max-width: 400px;
}

.sec__3__slider__card__tt h1{
    color: var(--Yellow);
    margin-bottom: 15px;
    font-size: 32px;
}

.sec__3__slider__card__tt p{
    margin-bottom: 20px;
}

.sec__3__btn__left{
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--Yellow);
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: all .3s;
}

.sec__3__btn__left:focus,
.sec__3__btn__left:active{
    opacity: .8;
    border: 2px solid white;
}

.sec__3__btn__left:hover svg path{
    stroke: var(--Yellow);
}

#btnRigth{
    left: auto;
    right: 0%;
}

#btnRigth svg{
    transform: rotate(180deg);
}

@media screen and (max-width: 1000px){
    .sec__3__slider__card{
        gap: 20px;
    }
}

@media screen and (max-width: 880px){
    .sec__3__slider__card{
        flex-direction: column;
        width: 100%;
    }
    .sec__3__slider__card img{
        width: 50%;
    }
    .sec__3__slider__card__tt{
        max-width: 100%;
        margin-top: 3%;
    }
}

@media screen and (max-width: 600px){
    .sec__3{
        margin-bottom: 25%;
    }
    .sec__3__slider img{
        width: 100%;
    }
    .sec__3__btn__left{
        top: 105%;
        transform: scale(.8);
    }
    #btnRigth{
        right: 60%;
    }
}

@media screen and (max-width: 500px){
    .sec__3{
        margin-bottom: 30%;
    }
    .sec__3__slider__card__tt{
        text-align: center;
    }
    .sec__3__btn__left{
        left: 25%;
    }
    #btnRigth{
        right: 25%;
    }
}

/* @media screen and (max-width: 500px){
    .sec__3__slider__card img{
        width: 60%;
    }
} */

/* section sec 4 slider */

.sec__4__slider{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 8%;
    overflow: hidden;
}

.sec__4__slider ul{
    width: 800%;
    height: 100%;
    display: flex;
    animation: sec__4__slider 20s infinite alternate;
    overflow: hidden;
}

@keyframes sec__4__slider {
    0%{
        margin-left: 0%;
    }
    8.5%{
        margin-left: 0%;
    }
    12.5%{
        margin-left: -100%;
    }
    21%{
        margin-left: -100%;
    }
    25%{
        margin-left: -200%;
    }
    33.5%{
        margin-left: -200%;
    }
    37.5%{
        margin-left: -300%;
    }
    46%{
        margin-left: -300%;
    }
    50%{
        margin-left: -400%;
    }
    58.5%{
        margin-left: -400%;
    }
    62.5%{
        margin-left: -500%;
    }
    71%{
        margin-left: -500%;
    }
    75%{
        margin-left: -600%;
    }
    83.5%{
        margin-left: -600%;
    }
    87.5%{
        margin-left: -700%;
    }
    100%{
        margin-left: -700%;
    }
    
}

.sec__4__slider ul li{
    width: 100%;
    height: 100%;
    background-color: violet;
    background-image: url(../img/sec-4-slider-1.jpg);
    background-position: center;
    background-size: cover;
}

.sec__4__slider ul li:nth-child(2){
    background-image: url(../img/sec-4-slider-2.jpg);
}

.sec__4__slider ul li:nth-child(3){
    background-image: url(../img/sec-4-slider-3.jpg);
}

.sec__4__slider ul li:nth-child(4){
    background-image: url(../img/sec-4-slider-4.jpg);
}

.sec__4__slider ul li:nth-child(5){
    background-image: url(../img/sec-4-slider-5.jpg);
}

.sec__4__slider ul li:nth-child(6){
    background-image: url(../img/sec-4-slider-6.jpg);
}

.sec__4__slider ul li:nth-child(7){
    background-image: url(../img/sec-4-slider-7.jpg);
}

.sec__4__slider ul li:nth-child(8){
    background-image: url(../img/sec-4-slider-8.jpg);
}

.sec__4__slider .sec__slider__horizontal{
    position: absolute;
    z-index: 20;
    top: 40%;
    transform: translateY(-50%);
}

@media screen and (max-width: 900px){
    .sec__4__slider{
        height: 60vh;
    }
}

@media screen and (max-width: 500px){
    .sec__4__slider{
        height: 45vh;
    }
}

/* section formulario */

.sec__form{
    width: 100%;
    margin-top: 8%;
}

.sec__form__tt h1{
    text-transform: uppercase;
    color: var(--Yellow);
    margin-bottom: 30px;
    font-size: 2rem;
}

.sec__form__tt p{
    max-width: 900px;
    font-size: 21px;
}

.sec__form form{
    margin-top: 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec__form form input{
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    font-size: 21px;
    color: var(--Yellow);
    padding: 10px;
    border-bottom: 2px solid var(--Yellow);
    z-index: 20;
    width: 23%;
    transition: all .3s;
}

.sec__form form input::placeholder{
    color: var(--Yellow);
}

.sec__form form input:valid{
    border-bottom: 2px solid white;
    color: white;
}

.sec__form form input[type="submit"]{
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    z-index: 20;
    font-size: 21px;
    width: 120px;
    height: 120px;
    background: var(--Yellow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Black);
    transition: all .3s;
    font-weight: 600;
    border: none;
}

.sec__form form input[type="submit"]:hover{
    opacity: .8;
    transform: scale(.9);
}

/* footer */

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    padding: 0px 0px 10% 0px;
}

.footer__left img{
    width: 200px;
    margin-bottom: 30px;
}

.footer__left h1{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__left p:nth-child(3){
    line-height: 30px;
    margin-bottom: 30px;
}

.footer__rigth{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer__rigth__icon {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
}

.footer__rigth__icon a svg{
    transform: scale(.7);
}

.footer__rigth__icon a svg path{
    transition: all .3s;
}

.footer__rigth__icon a:hover svg path{
    fill: white;
}

.footer__rigth a{
    padding: 10px 0px;
    color: white;
}

.footer__rigth a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px){
    .sec__form__tt{
        text-align: center;
    }
    .sec__form form{
        flex-wrap: wrap;
    }
    .sec__form form input:nth-child(1),
    .sec__form form input:nth-child(2){
        width: 49%;
        margin-bottom: 30px;
    }
    .sec__form form input:nth-child(3){
        width: 100%;
        margin-bottom: 20px;
    }
    .sec__form form input:nth-child(4){
        transform: scale(.8);
    }   
    .footer__left a img{
        width: 100px;
    } 
}

/* section bg anm bottoom */

.sec__bg__anm__bottom{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.324), rgba(0, 0, 0, 0.752), rgb(0, 0, 0)), url(../img/bg__anm.png);
    background-size: cover;
    background-position-y: 100%;
    animation: sec__bg__anm 40s infinite linear;
    box-shadow: inset 0px 20px 30px black;
    background-color: black;
    bottom: 0%;
    margin-top: -870px;
}